# Normalize line endings to LF.
* text eol=lf

# Ensure that line endings for multipart files in spring-web are not modified.
*.multipart -text

# Ensure that line endings for DOS batch files are not modified.
*.bat -text

# Ensure the following are treated as binary.
*.gif   binary
*.jar   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.vsd   binary

# .gitattributes 是Git用来控制文件如何处理和存储的配置文件，主要解决跨平台开发中因操作系统差异导致的文件不一致问题。
